// Colors
$white: #fff;
$black: #000;

//Buttons gradient
$from: #05aaf7;
$mid: #01eafe;
$to: #03c8fb;

// Sizes
$base-font-size: 1rem;

$tablet: 768;
$large: 1024;
$desktop: 1280;

$content: 1170px;

// Fonts
