.socials
    a(href="#vk").socials__link
        object.socials__item(type="image/svg+xml" data="/static/images/common/socials/vk.svg")
    a(href="#telega").socials__link
        object.socials__item(type="image/svg+xml" data="/static/images/common/socials/telegram.svg")
